.form-group {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    font-size: 1.2rem;
}

.form-group--image {
    height: 8rem;
    width: 8rem;
    margin: 0 auto;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px dashed var(--blue);
    border-radius: 50%;
    font-size: 1.2rem;
    text-align: center;
}

.form-group--image--filled {
    background: url('/assets/images/profile-4.jpg') no-repeat center/cover;
}

.form-group--image input {
    display: none;
}

.form-group--age {
    width: 3.5rem;
    margin-right: 3.5rem;
}

.form-group--age input {
    text-align: center;
}

.form-group--checkbox {
    display: flex;
    align-items: baseline;
    flex: 0 0 50%;
}

.form-group__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 0.3em;
    border: 2px solid var(--blue);
    padding: 0.3rem 0.4rem;
    width: 100%;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    transition: border 0.2s ease-in-out;
}

.form-group__input:focus {
    outline: none;
    border-color: var(--pink);
}

.form-group__checkbox {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    width: 1rem;
    height: 1rem;
    background: none;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
    border: 2px solid var(--blue);
    border-radius: 0.2rem;
    margin-right: 0.5rem;
}

.form-group__checkbox:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: .78rem;
    color: white;
    content: '\f00c';
    font-size: .9em;
    transform: scale(0, 0);
    transition: transform 0.2s ease-in-out;
}

.form-group__checkbox:focus {
    outline: none;
}

.form-group__checkbox:checked {
    border: 2px solid var(--pink);
    background: var(--pink);
}

.form-group__checkbox:checked::before {
    transform: scale(1, 1);
}

.form-combine {
    display: flex;
    align-items: flex-end;
}

.fieldset {
    border: none;
    padding: 0;
}

.fieldset__legend {
    display: block;
    position: static;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    text-decoration: underline;
    margin-bottom: 0.5em;
    width: 100%;
}

.fieldset__legend--bb {
    border-bottom: 2px solid black;
    text-decoration: none;
}

.fieldset__legend a {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
    color: black;
    width: 100%;
}

.submit-button {
    margin-left: auto;
    font-size: 1.4rem;
    color: green;
    line-height: 1;
    align-items: baseline;
}

.submit-button.static {
    margin-bottom: 2rem;
}

.submit-button i {
    width: 1em;
}

.selected-hobbies {
    display: grid;
    grid-auto-rows: 1.7rem;
    margin-bottom: 1rem;
}

.selected-hobbies__hobby {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}