.user-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 5.75rem 2rem 1fr 1fr;
    height: 10rem;
}

.user-info__avatar {
    grid-row: span 4;
    grid-column: span 1;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

.user-info__name {
    font-size: 2.4em;
    font-weight: 900;
}

.user-info__age {
    font-size: 1.5em;
}
.user-info__location {
    font-size: 1.2rem;
    font-weight: 700;
}

.hobbies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.125rem;
    margin-bottom: 2rem;
}

.hobbies-list__item {
    position: relative;
    background: var(--gradient-transparent);
    border-radius: 0.4em;
    overflow: hidden;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--button-shadow)
}

.hobbies-list__item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
}

.hobbies-list__item h3,
.hobbies-list__item h4 {
    color: white;
}

.hobbies-list__item h3 {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.hobbies-list__item h4 {
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    font-size: 1rem;
}

.hobbies-list__item a {
    text-decoration: none;
}

.hobbies-list__more a {
    display: block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    line-height: 8rem;
    color: black;
    text-decoration: underline;
    font-size: 1.4rem;
    font-weight: 800;
}