.header {
    box-shadow: var(--box-shadow);
    background: white;
    margin-bottom: 2em;
    padding: 1em;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 999;

    @media screen and (min-width: 60rem) {
        box-shadow: var(--desktop-shadow);

        a, .header__chat-heading {
            font-size: 2rem !important;
        }
    }

    * {
        width: 100%;
    }

    &__chat-heading {
        position: relative;
        font-size: 1rem;

        &--centre {
            grid-column: 1 / span 3;
            text-align: center;
        }
        img {
            position: absolute;
            top: -.4rem;
            left: 0;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__heading {
        margin-top: 1em;
        margin-bottom: 0.3em;
        text-decoration: underline;

        &--underline {
            text-decoration: underline;
        }
    }

    &,
    ul {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    :nth-child(2),
    ul :nth-child(2) {
        text-align: center;
    }

    :nth-child(3),
    ul :nth-child(3),
    :nth-child(3) *,
    ul :nth-child(3) * {
        text-align: right;
    }

    &--home {
        padding: 1em 2em;
    }

    nav {
        width: 100%;
        margin: 0 auto;
        grid-column: span 3;
    }

    ul {
        width: 100%;
        padding: 0;
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a[href="#"] i {
        background: var(--gradient-icon);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    li a {
        font-size: 1.4rem;
        line-height: 1em;
    }

    li a i {
        font-size: inherit;
        line-height: 1em;
    }

    > a {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }

    .submit-button {
        font-size: 1rem;
        padding: 0 !important;
        margin: 0 !important;
    }
}
