.absolute {
    position: absolute;

    &--bottom {
        bottom: 2rem;
    }

    &--centre {
        left: 50%;
        transform: translateX(-50%);
    }

}

.fixed {
    position: fixed;

    &--top {
        top: 1rem;
    }

    &--right {
        right: 1rem;

        @media screen and (min-width: 60rem) {
            right: calc(50vw - 29rem);
        }

        @media screen and (min-width: 80rem) {
            right: calc(50vw - 39rem);
        }
    }

    &--bottom {
        bottom: 1rem;
    }

    &--left {
        left: 1rem;

        @media screen and (min-width: 40rem) {
            left: calc(50vw - 19rem);
        }

        @media screen and (min-width: 60rem) {
            left: calc(50vw - 29rem);
        }

        @media screen and (min-width: 80rem) {
            left: calc(50vw - 39rem);
        }
    }
}

.static {
    position: static;
}

.relative {
    position: relative;
}

.sticky {
    position: relative;
    position: -webkit-sticky;
    position: sticky;

    &--top {
        top: 1rem;
    }

    &--right {
        right: 1rem;
    }

    &--bottom {
        bottom: 1rem;
    }

    &--left {
        left: 1rem;
    }
}

.centre-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.right-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.container .centre-content, .container .right-content {
    width: calc(100% - 2.5rem);
}

.two-column {
    @media screen and (min-width: 40rem) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;

        .fieldset {
            flex: 0 0 22rem;
            align-self: flex-start;

            &--small {
                flex: 0 0 14rem;
            }
        }
    }

    @media screen and (min-width: 60rem) {
        .fieldset {
            flex: 0 0 25rem;

            &--small {
                flex: 0 0 15rem;
            }
        }
    }

    @media screen and (min-width: 80rem) {
        .fieldset {
            flex: 0 0 35rem;

            &--small {
                flex: 0 0 16rem;
            }
        }
    }
}

.column {
    width: 50%;
}

.flex {
    display: flex;

    &--column {
        flex-direction: column;
        align-items: center;
    }
}
