.absolute {
    position: absolute;

    &--bottom {
        bottom: 2rem;
    }

    &--centre {
        left: 50%;
        transform: translateX(-50%);
    }

}

.static {
    position: static;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

.centre-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.right-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.container .centre-content, .container .right-content {
    width: calc(100% - 2.5rem);
}