<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instellingen - HDate</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <header class="header">
        <a href="/account"><i class="fa fa-caret-left"></i></a>
        <h1 class="header__chat-heading">Instellingen</h1>
    </header>
    <main class="container">
        <form action="/account">
            <fieldset class="fieldset">
                <legend class="fieldset__legend">Meldingen</legend>
                <label class="form-group form-group--checkbox">
                    <input class="form-group__checkbox fa" type="checkbox" name="notifs_chats">
                    Chatberichten
                </label>
                <label class="form-group form-group--checkbox">
                    <input class="form-group__checkbox fa" type="checkbox" name="notifs_likes">
                    Nieuwe likes
                </label>
                <label class="form-group form-group--checkbox">
                    <input class="form-group__checkbox fa" type="checkbox" name="notifs_matches">
                    Nieuwe matches
                </label>
            </fieldset>
        </form>
    </main>
    <footer class="absolute absolute--bottom centre-content">
        <button class="btn btn--large btn--red">Account verwijderen</button>
    </footer>
</body>
</html>