.header {
    box-shadow: var(--box-shadow);
    background: white;
    margin-bottom: 2em;
    padding: 1em;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.header,
.header ul {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.header :nth-child(2),
.header ul :nth-child(2) {
    text-align: center;
}

.header :nth-child(3),
.header ul :nth-child(3),
.header :nth-child(3) *,
.header ul :nth-child(3) * {
    text-align: right;
}

.header--home {
    padding: 1em 2em;
}

.header * {
    width: 100%;
}

.header nav {
    width: 100%;
    margin: 0 auto;
    grid-column: span 3;
}

.header ul {
    width: 100%;
    padding: 0;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: black;
}

.header a[href="#"] {
    font-weight: 900;
}

.header li a {
    font-size: 1.4rem;
    line-height: 1em;
}

.header li a i {
    font-size: inherit;
    width: 1em;
    line-height: 1em;
}

.header > a {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.header a > i {
    width: 1rem;
}

.header .submit-button {
    font-size: 1rem;
}

.header__chat-heading {
    position: relative;
    font-size: 1rem;
}

.header__chat-heading img {
    position: absolute;
    top: -.4rem;
    left: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
}

.header__chat-heading--centre {
    grid-column: 1 / span 3;
    text-align: center;
}

.header__heading {
    margin-top: 1em;
    margin-bottom: 0.3em;
    text-decoration: underline;
}

.header__heading--underline {
    text-decoration: underline;
}

.header .submit-button {
    padding: 0 !important;
    margin: 0 !important;
}