button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
}

.btn {
    display: block;
    padding: 0.8rem 1rem;
    border-radius: 0.4em;
    border: none;
    text-align: center;
    text-decoration: none;

    &--pink {
        color: white;
        background: var(--pink);
        border-color: var(--pink);
    }

    &--blue {
        color: white;
        background: var(--blue);
        border-color: var(--blue);
    }

    &--red {
        color: white;
        background: var(--red);
        border-color: var(--red);
    }

    &--green {
        color: white;
        background: var(--green);
        border-color: var(--green) !important;
    }

    &--large {
        font-size: 1.25em;
        padding: 0.8em 1.5em;
    }

    &--noborder {
        border-radius: 0;
    }

    &--center {
        display: inline-block;
        margin: 0 auto;
    }

    &--circle {
        width: 4rem;
        height: 4rem;
        background-color: white;
        color: black;
        border-color: black;
        border-width: 0.2rem;
        border-style: solid;
        border-radius: 50%;
        box-shadow: var(--button-shadow);
        text-align: center;
        line-height: 2.1rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;

        &.btn {
            &--pink {
                color: var(--pink);
                border-color: var(--pink);
            }

            &--blue {
                color: var(--blue);
                border-color: var(--blue);
            }

            &--red {
                color: var(--red);
                border-color: var(--red);
            }

            &--green {
                color: var(--green);
                border-color: var(--green);
            }
        }
    }
}

.btn-group {
    display: flex;
    justify-content: space-between;

    &__btn {
        flex: 0 0 50%;
        border-radius: 0;
        white-space: nowrap;

        &:first-child {
            border-radius: .4em 0 0 .4em;
        }

        &:last-child {
            border-radius: 0 .4em .4em 0;
        }
    }
}