.chat {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 4rem repeat(2, 1fr);
    grid-column-gap: 0.6rem;
    padding: 1rem;
    border-top: 1px solid black;
    color: black;
    text-decoration: none;

    &__avatar {
        grid-row: 1 / span 2;
        width: 4em;
        height: 4em;
        object-fit: cover;
        align-self: center;
        justify-self: start;
        border-radius: 50%;
    }

    &__user {
        font-size: 1em;
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        align-self: center;
    }

    &__message {
        grid-column: 2 / span 2;
        grid-row: 2;
        align-self: center;
        margin-bottom: 0;
    }

    &--first {
        border-top: 0;
    }

    &__timestamp {
        grid-row: 2;
        grid-column: 3;
        text-align: right;
        align-self: center;
    }
}

.message-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.message {
    max-width: 70%;
    padding: 0.6rem 1rem;
    margin-bottom: .5em;
    border-radius: 0.4em;
    background: darkgrey;
    color: white;
    line-height: 1.1em;

    &--match {
        background: var(--pink);
        align-self: flex-start;
    }

    &--user {
        background: var(--blue);
        align-self: flex-end;
    }

    &:last-child {
        margin-bottom: 4rem;
    }
}

.message-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 60rem) {
        width: 60rem;
        left: calc(50vw - 30rem);
    }

    &__input {
        flex: 1;
        padding: 0.4rem;
        margin: 0;
        font-size: 1rem;
        border: 2px solid var(--blue);

        &:focus {
            outline: none;
            border-color: var(--pink);
        }
    }

    &__submit {
        padding: 0.2em 0.5rem;
        font-size: 1em;
        transition: background 50ms var(--transition);

        &:focus {
            outline: none;
            background: var(--pink);
        }
    }
}

.matches {
    display: flex;
    margin-top: 1rem;

    &__match {
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: 900;
        font-size: 0.8rem;

        a {
            color: black;
            text-decoration: none;
        }

        img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-bottom: 0.3rem;
        }
    }
}

.new-match {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;

    &__avatar {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        object-fit: cover;
    }
}
