.gallery {
    &-item {
        position: relative;
        background-image: var(--gradient-transparent);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: background-image 0.3s var(--transition);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            z-index: -1;
        }

        h3 {
            color: white;
            font-size: 2em;
            padding: 1rem;
        }

        p {
            margin: 0;
            color: white;
        }

        &--card {
            flex: 1 0 4rem;
            background: none;

            @media screen and (min-width: 60rem) {
                transition: flex 0.3s var(--transition);
                flex: 1 1 8rem;

                h3 {
                    font-weight: bold;
                    font-size: 2.5em;
                }

                &:hover {
                    flex: 1 0 16rem;
                }
            }
        }

        &--profile {
            height: 16rem;
            border-radius: 0.4em;
            margin-bottom: 1rem;

            h3 {
                font-size: 3em;
            }

            a {
                position: absolute;
                top: 1rem;
                right: 1rem;
                text-decoration: none;
                color: white;
                opacity: 0.1;
                transition: opacity 0.3s var(--transition);

                @media screen and (max-width: 60rem) {
                    opacity: 0.75;
                }
            }

            @media screen and (min-width: 60rem) {
                width: 28rem;
                box-shadow: var(--box-shadow);
                margin-bottom: 2rem;

                &:hover {
                    a {
                        opacity: 0.5;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

        }

        &--description {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 100%;
            grid-auto-flow: row;
            overflow: hidden;
            transition: all 0.3s var(--transition);

            h3 {
                align-self: center;
                text-align: left;
                width: 100%;
                padding: 0 1rem;
                transition: all 0.3s var(--transition);
                opacity: 1;
                user-select: none;

                @media screen and (min-width: 60rem) {
                    padding: 0 4rem;
                }
            }

            p {
                align-self: end;
                padding: 0 1rem 1rem;
                height: 4rem;
                overflow: hidden;
                transition: all 0.3s var(--transition);
                opacity: 0.75;
                user-select: none;

                @media screen and (min-width: 60rem) {
                    padding: 0 2rem 2rem;
                }
            }

            &:hover {
                background-image: var(--gradient-semi);

                h3 {
                    font-size: 1.5em;
                    opacity: 0.75;
                    padding: 0 1rem;

                    @media screen and (min-width: 60rem) {
                        padding: 0 4rem;
                    }
                }

                p {
                    height: 11rem;
                    overflow-y: scroll;
                    opacity: 1;
                }
            }
        }
    }

    &--card {
        height: 12rem;
        width: calc(100% + 2rem);
        border-radius: 0 0 0.4em 0.4em;
        background: var(--gradient-transparent);
        display: flex;
        flex-direction: column;
        margin-left: -1rem;
        margin-bottom: -1rem;

        @media screen and (min-width: 60rem) {
            height: 24rem;
        }
    }

    &--profile {
        @media screen and (min-width: 60rem) {
            width: 60rem;
            margin-left: -15rem;
            padding: 0 1rem;

            .gallery {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }
    }
}
