.gallery {
    &-item {
        position: relative;
        background: var(--gradient-transparent);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            z-index: -1;
        }

        h3 {
            color: white;
            font-size: 2em;
            padding: 1rem;
        }

        &--card {
            width: calc(100% + 2rem);
            flex: 1 0 4rem;
            margin-left: -1rem;
            margin-bottom: -1rem;

            @media screen and (min-width: 60rem) {
                flex: 1 0 8rem;
                
                h3 {
                    font-weight: bold;
                    font-size: 3em;
                }
            }
        }

        &--profile {
            height: 16rem;
            border-radius: 0.4em;

            @media screen and (min-width: 60rem) {
                width: 28rem;
                box-shadow: var(--box-shadow);
            }
        }
    }

    &--card {
        height: 12rem;
        border-radius: 0 0 0.4em 0.4em;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 60rem) {
            height: 24rem;
        }
    }

    &--profile {
        @media screen and (min-width: 60rem) {
            width: 60rem;
            margin-left: -15rem;
            padding: 0 1rem;

            .gallery {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}