.hobby-search {
    display: block;
    width: 100%;
    position: relative;
    font-size: 1.5em;
    margin-bottom: 0.6em;
    padding-bottom: 0.4em;

    &__input {
        font-size: inherit;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background: none;
        border-bottom: 1px solid var(--blue);
        position: absolute;
        left: 0;
        padding-bottom: 0.4em;
        height: 100%;
        width: 100%;
        transition: border-bottom 0.3s var(--transition);

        &:focus {
            outline: none;
            border-bottom-width: 3px;

            ~ .hobby-search__label {
                color: transparent;
                position: relative;
            }
        }
    }
}

.hobby-list {
    display: block;
    width: 100%;

    &__item {
        font-size: 1.5rem;
        margin-bottom: 0.5em;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        height: 2em;
        border-radius: 1em;
        padding: 0.5rem;
        border: 3px solid var(--blue);
        box-shadow: var(--button-shadow);
    }

    &__label {
        font-size: inherit;
        display: block;
        width: calc(100% - 1em);
        color: black;
        transition: color 0.3s var(--transition);

        &:only-child {
            width: 100%;
        }

        &--both {
            width: calc(100% - 3rem);
        }
    }

    &__checkbox {
        position: relative;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
        font-size: inherit;
        border-radius: 50%;
        border: 1px solid black;
        width: 1em;
        height: 1em;

        &:not(:only-of-type) {
            margin-left: 1em;
        }

        &:focus {
            outline: none;
        }

        &:before {
            content: "\f067";
            position: absolute;
            color: black;
            height: calc(1.5rem - 2px);
            width: calc(1.5rem - 2px);
            top: 0;
            left: 0;
            text-align: center;
            font-family: inherit;
            font-size: 1rem;
            line-height: calc(1.5rem - 2px);
            transition: transform 0.3s var(--transition), color 0.3s var(--transition);
            transform: rotate(0deg);
        }

        &:checked {
            border-color: var(--green);

            &:before {
                color: var(--green);
                transform: rotate(45deg);
            }

            ~.hobby-list__label {
                color: var(--green);
            }
        }

        &--remove {
            margin-left: .2em;

            &:before {
                transform: rotate(45deg);
            }
        }

        &--edit:before {
            content: '\f303';
            font-size: 0.5em;
        }
    }
}
