.user-info {
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: auto 2em 2em;
    grid-column-gap: 1rem;

    @media screen and (min-width: 40rem) {
        grid-template-columns: 15rem 1fr;
        grid-template-rows: 7.5rem 2em auto;
    }

    &__avatar {
        width: 30vw;
        height: 30vw;
        grid-row: 1 / span 3;
        grid-column: 1 / span 1;
        object-fit: cover;
        border-radius: 50%;

        @media screen and (min-width: 40rem) {
            width: 15rem;
            height: 15rem;
        }
    }

    &__name {
        font-size: 2.4em;
        font-weight: 900;
        margin-bottom: 0.2em;

        @media screen and (min-width: 40rem) {
            align-self: end;
        }
    }

    &__age {
        font-size: 1.5em;
        margin-bottom: 0.2em;
    }

    &__location {
        font-size: 1.2rem;
        font-weight: 700;
    }
}

.hobbies-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.125rem;
    margin-bottom: 2rem;

    &__item {
        position: relative;
        background: var(--gradient-transparent);
        border-radius: 0.4em;
        overflow: hidden;
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--button-shadow)

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            z-index: -1;
        }

        h3,
        h4 {
            color: white;
        }

        h3 {
            font-size: 1.4rem;
            font-weight: bold;
            text-align: center;
        }

        h4 {
            position: absolute;
            top: 0.4rem;
            left: 0.4rem;
            font-size: 1rem;
        }

        a {
            text-decoration: none;
        }
    }

    &__more a {
        display: block;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        width: 100%;
        line-height: 8rem;
        color: black;
        text-decoration: underline;
        font-size: 1.4rem;
        font-weight: 800;
    }
}
