p {
    margin-bottom: 1.8em;
}

.text {
    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }

    &--bold {
        font-weight: bold;
    }

    &--mb {
        margin-bottom: 0.6em;
    }

    &--mt {
        margin-top: 3em;
    }
}