<%- include('./layouts/head.ejs', { title: 'HDate' }) %>

    <header class="header">
        <h1 class="header__chat-heading--centre">Welkom bij HDate</h1>
    </header>
    <main class="container">
        <h2 class="text--center text--mb text--mt">De dating-app voor mensen die een nieuwe hobby nodig hebben!</h2>
        <p class="text--center text--large text--mb">Hoe werkt dit dan?</p>
        <ol>
            <li class="text--mb">Je maakt een account aan!</li>
            <li class="text--mb">Je geeft aan welke hobbies je hebt.</li>
            <li class="text--mb">Je krijgt mensen te zien die compleet andere hobbies dan jij!</li>
        </ol>
        <p class="text--large text--center text--mb">Waar wacht je nog op? Maak een account aan!</p>
    </main>
    <div class="flex flex--column">
        <a class="btn btn--green btn--large btn--mb" href="/account/create/1">Account aanmaken</a>
        <a class="btn btn--blue btn--mb" href="/account/login">Inloggen</a>
    </div>

<%- include('./layouts/tail.ejs') %>
