<%- include('./layouts/head.ejs', { title: 'Berichten - HDate' }) %>
<body>
    <header class="header">
        <h1 class="header__chat-heading--centre">Welkom bij HDate</h1>
    </header>
    <main class="container">
        <h2 class="text--center text--mb text--mt">De dating-app voor mensen die een nieuwe hobby nodig hebben!</h2>
        <p class="text--center">Kijk gerust rond. Maak jezelf bekend met wat er mogelijk is en maak een account aan wanneer je wilt.</p>
    </main>
    <a class="btn btn--blue btn--large absolute absolute--bottom absolute--centre" href="/home/logout">Oké</a>
</body>
</html>