<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accountvoordelen - HDate</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <header class="header header--home">
        <nav>
            <ul>
                <li><a href="#"><i class="fas fa-user-circle"></i></a></li>
                <li><a href="./index.html"><i class="far fa-thumbs-up"></i></a></li>
                <li><a href="./messages.html"><i class="far fa-comment"></i></a></li>
            </ul>
        </nav>
    </header>
    <section>
        <header class="text--center">
            <h1>Met een HDate account kan je:</h1>
        </header>
        <ul class="list">
            <li class="list__item">Chatten met je matches!</li>
            <li class="list__item">Verbinden met onbekenden</li>
            <li class="list__item">Nieuwe hobbies ontdekken met nieuwe vrienden</li>
        </ul>
        <footer class="footer--center">
            <p>Waar wacht je nog op?</p>
            <a class="btn btn--blue btn--large" href="/create-account/step-1.html">Account aanmaken</a>
        </footer>
    </section>
</body>
</html>