<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - HDate</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <header class="header header--home">
        <nav>
            <ul>
                <li><a href="./profile.html"><i class="far fa-user-circle"></i></a></li>
                <li><a href="#"><i class="fas fa-thumbs-up"></i></a></li>
                <li><a href="./messages.html"><i class="far fa-comment"></i></a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <article class="card">
            <a href="./index-pop-up.html">
                <div class="card__header">
                    <img src="/images/profile-9.jpg" alt="Profielfoto Jordan Simmons">
                    <h2>Jordan Simmons</h2>
                    <h3>21 jaar oud</h3>
                </div>
                <ul class="card__gallery">
                    <li>
                        <img src="/images/knitting.jpg" alt="Foto van iemand die breidt.">
                        <h3 title="Hobby">Breien</h3>
                        <h4 title="Categorie">Handwerk</h4>
                    </li>
                </ul>
            </a>
        </article>
    </main>
    <footer class="button-footer">
        <a class="button-footer__button button-footer__button--dislike" href="./index-pop-up.html"><i class="fa fa-thumbs-down"></i></a>
        <a class="button-footer__button button-footer__button--like" href="./index-pop-up.html"><i class="fa fa-thumbs-up"></i></a>
    </footer>
</body>
</html>