<%- include('../../layouts/head.ejs', { title: 'Profiel instellen - HDate' }) %>

<header class="header">
    <a href="/"><i class="fa fa-angle-left"></i> Annuleren</a>
    <h1 class="header__chat-heading">Profiel Opzetten</h1>
</header>
<main class="container">
    <form action="/account/create/2" method="POST" enctype="multipart/form-data">
        <label class="form-group--image">
            Profielfoto Toevoegen
            <input autocomplete="photo" type="file" name="avatar" accept="image/*">
        </label>
        <fieldset class="fieldset">
            <legend class="fieldset__legend">Jouw gegevens</legend>
            <label class="form-group">
                Voornaam
                <input autocomplete="given-name" class="form-group__input" type="text" name="first_name" required>
            </label>
            <label class="form-group">
                Achternaam
                <input autocomplete="family-name" class="form-group__input" type="text" name="last_name" required>
            </label>
            <div class="form-combine">
                <label class="form-group form-group--age">
                    Leeftijd
                    <input class="form-group__input" min="18" value="18" max="99" type="number" name="age" required>
                </label>
                <label class="form-group form-group--location">
                    Woonplaats
                    <input autocomplete="address-level2" class="form-group__input" type="text" name="location" required>
                </label>
            </div>
        </fieldset>
        <fieldset class="fieldset" required>
            <legend class="fieldset__legend">Je bent een...</legend>
            <div class="form-combine">
                <label class="form-group form-group--checkbox">
                    <input class="form-group__checkbox fa" type="checkbox" name="sex" value="male">
                    Man
                </label>
                <label class="form-group form-group--checkbox">
                    <input class="form-group__checkbox fa" type="checkbox" name="sex" value="female">
                    Vrouw
                </label>
            </div>
        </fieldset>
        <fieldset class="fieldset" required>
            <legend class="fieldset__legend">en valt op...</legend>
            <div class="form-combine">
                <label class="form-group form-group--checkbox">
                    <input class="form-group__checkbox fa" type="checkbox" name="sex_pref" value="male">
                    Mannen
                </label>
                <label class="form-group form-group--checkbox">
                    <input class="form-group__checkbox fa" type="checkbox" name="sex_pref" value="female">
                    Vrouwen
                </label>
            </div>
        </fieldset>
        <fieldset class="fieldset" required>
            <legend class="fieldset__legend">tussen de...</legend>
            <div class="form-combine">
                <label class="form-group form-group--age form-group--range">
                    Minimale leeftijd
                    <input type="number" class="form-group__input" value="18" max="99" min="18" name="age_min">
                </label>
                <label class="form-group form-group--age form-group--range">
                    Maximale leeftijd
                    <input type="number" class="form-group__input" value="99" max="99" min="18" name="age_max">
                </label>
            </div>
        </fieldset>
        <button type="submit" class="submit-button right-content">
            <i class="fa fa-angle-right"></i>
        </button>
    </form>
</main>

<%- include('../../layouts/tail.ejs') %>