<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profiel instellen - HDate</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body class="header--fixed">
    <header class="header">
        <a href="/account/advantages">< Annuleren</a>
        <h1 class="header__chat-heading">Profiel Opzetten</h1>
    </header>
    <main class="container">
        <form action="/home">
            <label class="form-group--image">
                Profielfoto Toevoegen
                <input type="file" name="profile-image">
            </label>
            <fieldset class="fieldset">
                <legend class="fieldset__legend">Jouw gegevens</legend>
                <label class="form-group">
                    Voornaam
                    <input class="form-group__input" type="text" name="first-name">
                </label>
                <label class="form-group">
                    Achternaam
                    <input class="form-group__input" type="text" name="last-name">
                </label>
                <div class="form-combine">
                    <label class="form-group form-group--age">
                        Leeftijd
                        <input class="form-group__input" min="18" value="18" max="99" type="number" name="age">
                    </label>
                    <label class="form-group form-group--location">
                        Woonplaats
                        <input class="form-group__input" type="text" name="residence">
                    </label>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset__legend">Sexuele voorkeur</legend>
                <div class="form-combine">
                    <label class="form-group form-group--checkbox">
                        <input class="form-group__checkbox fa" type="checkbox" name="sex_pref" value="man" checked>
                        Mannen
                    </label>
                    <label class="form-group form-group--checkbox">
                        <input class="form-group__checkbox fa" type="checkbox" name="sex_pref" value="woman" checked>
                        Vrouwen
                    </label>
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset__legend"><a href="/hobbies">Hobbies <i class="fa fa-angle-right"></i></a></legend>
                <ul class="selected-hobbies">
                    <li class="selected-hobbies__hobby">Breien <button type="button">X</button></li>
                    <li class="selected-hobbies__hobby">Filmen <button type="button">X</button></li>
                    <li class="selected-hobbies__hobby">Montage <button type="button">X</button></li>
                    <li class="selected-hobbies__hobby">Koken <button type="button">X</button></li>
                </ul>
            </fieldset>
            <button type="submit" class="submit-button right-content sticky absolute--bottom">Afronden <i class="fa fa-caret-right"></i></button>
        </form>
    </main>
</body>
</html>