<%- include('../../layouts/head.ejs', { title: 'Profiel instellen - HDate' }) %>

<header class="header">
    <a href="/account/advantages">< Annuleren</a>
    <h1 class="header__chat-heading">Profiel Opzetten</h1>
</header>
<main class="container">
    <form action="/account/create" method="POST">
        <div class="hobby-search">
            <input type="text" class="hobby-search__input" placeholder="Wat doe je graag?" data-hobby-search>
            <label class="hobby-search__label">
                Wat doe je graag?
            </label>
        </div>
        <ul class="hobbies">
            
        </ul>
        <button type="submit" class="submit-button right-content sticky absolute--bottom">Afronden <i class="fa fa-caret-right"></i></button>
    </form>
</main>

<%- include('../../layouts/tail.ejs') %>