<%- include('../../layouts/head.ejs', { title: 'Profiel instellen - HDate' }) %>

<header class="header">
    <h1 class="header__chat-heading">Stap 2/3: Profiel Opzetten</h1>
</header>
<main>
    <form class="two-column" action="/account/create/2" method="POST" enctype="multipart/form-data">
        <fieldset class="fieldset">
            <legend class="fieldset__legend">Jouw gegevens</legend>
            <div class="form-group form-group--image" data-image-upload>
                <input id="avatar" class="form-group__input" autocomplete="photo" type="file" name="avatar" accept="image/*" value="" required>
                <label for="avatar" class="form-group__label">
                    Profielfoto Toevoegen
                </label>
            </div>
            <label class="form-group">
                Voornaam
                <input autofocus autocomplete="given-name" class="form-group__input" type="text" name="first_name" required>
            </label>
            <label class="form-group">
                Achternaam
                <input autocomplete="family-name" class="form-group__input" type="text" name="last_name" required>
            </label>
            <div class="form-combine">
                <label class="form-group form-group--age">
                    Leeftijd
                    <input class="form-group__input" min="18" value="18" max="99" type="number" name="age" required>
                </label>
                <label class="form-group form-group--location">
                    Woonplaats
                    <input autocomplete="address-level2" class="form-group__input" type="text" name="location" required>
                </label>
            </div>
        </fieldset>
        <div class="column">
        <fieldset class="fieldset" required>
            <legend class="fieldset__legend">Je bent een...</legend>
            <div class="form-combine">
                <label class="form-group form-group--checkbox">
                    <input class="form-group__radio fa" type="radio" name="sex" value="male">
                    Man
                </label>
                <label class="form-group form-group--checkbox">
                    <input class="form-group__radio fa" type="radio" name="sex" value="female">
                    Vrouw
                </label>
            </div>
        </fieldset>
        <fieldset class="fieldset">
            <legend class="fieldset__legend">en valt op...</legend>
            <div class="form-combine">
                <label class="form-group form-group--checkbox">
                    <input class="form-group__checkbox fa" type="checkbox" name="sex_pref" value="male">
                    Mannen
                </label>
                <label class="form-group form-group--checkbox">
                    <input class="form-group__checkbox fa" type="checkbox" name="sex_pref" value="female">
                    Vrouwen
                </label>
            </div>
        </fieldset>
        <fieldset class="fieldset" required>
            <legend class="fieldset__legend">tussen de...</legend>
            <div class="form-combine form-combine--around">
                <div class="form-group form-group--age form-group--range">
                    <label for="age_min" class="form-group__label form-group__label--range">
                        Minimale leeftijd
                    </label>
                    <input for="age_min" type="number" class="form-group__input" value="18" max="99" min="18" name="age_min" required>
                </div>
                <p class="text--large">en</p>
                <div class="form-group form-group--age form-group--range">
                    <label for="age_max" class="form-group__label form-group__label--range">
                        Maximale leeftijd
                    </label>
                    <input id="age_max" type="number" class="form-group__input" value="99" max="99" min="18" name="age_max" required>
                </div>
            </div>
        </fieldset>
        </div>
        <footer class="navigation-footer">
            <a href="/account/create/1" class="navigation-footer__link">
                <i class="fa fa-angle-left"></i>
            </a>
            <button type="submit" class="navigation-footer__link">
                <i class="fa fa-angle-right"></i>
            </button>
        </footer>
    </form>
</main>

<%- include('../../layouts/tail.ejs') %>
