<%- include('../../layouts/head.ejs', { title: 'Account aanmaken - HDate' }) %>

<header class="header">
    <h1 class="header__chat-heading">Registreren</h1>
</header>
<main class="container">
    <form action="/account/create/1" method="POST">
        <label class="form-group">
            E-mailadres
            <input autofocus autocomplete="email" class="form-group__input" type="email" name="email" required>
        </label>
        <label class="form-group">
            Wachtwoord
            <input autocomplete="new-password" class="form-group__input" minlength="6" type="password" name="password" required>
        </label>
        <footer class="navigation-footer">
            <a href="/" class="navigation-footer__link">
                <i class="fa fa-angle-left"></i>
            </a>
            <button type="submit" class="navigation-footer__link">
                <i class="fa fa-angle-right"></i>
            </button>
        </footer>
    </form>
</main>

<%- include('../../layouts/tail.ejs') %>