<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account aanmaken - HDate</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <header class="header">
        <a href="/account/advantages"><i class="fa fa-caret-left"></i> Annuleren</a>
        <h1 class="header__chat-heading">Registreren</h1>
    </header>
    <main class="container">
        <form action="/account/create/step-2">
            <label class="form-group">
                E-mailadres
                <input autocomplete="email" class="form-group__input" type="email">
            </label>
            <label class="form-group">
                Wachtwoord
                <input autocomplete="new-password" class="form-group__input" type="password" name="password">
            </label>
            <label class="form-group">
                Wachtwoord herhalen
                <input autocomplete="new-password" class="form-group__input" type="password" name="password-repeat">
            </label>
            <button class="submit-button sticky absolute--bottom right-content" type="submit">Doorgaan <i class="fa fa-caret-right"></i></button>
        </form>
    </main>
</body>
</html>