:root {
    --pink: rgb(229, 93, 135);
    --blue: rgb(95, 195, 228);
    --green: rgb(94, 224, 107);
    --red: rgb(237, 52, 52);
    --gradient: linear-gradient(to bottom right, rgb(229, 93, 135), rgb(95, 195, 228));
    --gradient-icon: linear-gradient(to top left, rgb(229, 93, 135), rgb(95, 195, 228) 60%);
    --gradient-transparent: linear-gradient(to bottom right, rgba(229, 93, 135 , 0.7), rgba(95, 195, 228, 0.7));
    --box-shadow: 0 .25rem .875rem 0.1rem rgba(0, 0, 0, 0.21);
    --button-shadow: 0 .25rem .4rem rgba(0, 0, 0, 0.2);
}