<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Categorieën - HDate</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
    <header class="header">
        <a href="./profile-edit.html"><i class="fa fa-caret-left"></i></a>
        <h1 class="header__chat-heading">Kies je hobbies</h1>
        <button><i class="fa fa-search"></i></button>
    </header>
    <main class="container">
        <h2 class="header__heading header__heading--underline">Categorieën</h2>
        <ul class="hobbies-list">
            <li class="hobbies-list__item"><a href="./hobbies.html"><img src="/images/filming.jpg" alt=""><h3>Film</h3></a></li>
            <li class="hobbies-list__item"><a href="./hobbies.html"><img src="/images/score.jpg" alt=""><h3>Muziek</h3></a></li>
            <li class="hobbies-list__item"><a href="./hobbies.html"><img src="/images/digital.jpg" alt=""><h3>Digitaal</h3></a></li>
            <li class="hobbies-list__item"><a href="./hobbies.html"><img src="/images/nature.jpg" alt=""><h3>Buiten</h3></a></li>
            <li class="hobbies-list__item"><a href="./hobbies.html"><img src="/images/knitting.jpg" alt=""><h3>Handwerk</h3></a></li>
            <li class="hobbies-list__item"><a href="./hobbies.html"><img src="/images/housekeeping.jpg" alt=""><h3>Huishouden</h3></a></li>
            <li class="hobbies-list__item"><a href="./hobbies.html"><img src="/images/animals.jpg" alt=""><h3>Dieren</h3></a></li>
            <li class="hobbies-list__item"><a href="./hobbies.html"><img src="/images/cars.jpg" alt=""><h3>Auto</h3></a></li>
            <li class="hobbies-list__item"><a href="./hobbies.html"><img src="/images/airplanes.jpg" alt=""><h3>Vliegtuig</h3></a></li>
            <li class="hobbies-list__item"><a href="./hobbies.html"><img src="/images/boats.jpg" alt=""><h3>Boot</h3></a></li>
        </ul>
        <footer class="selected-hobbies-footer">
            <p class="selected-hobbies-footer__prefix">Geselecteerd:</p>
            <p class="selected-hobbies-footer__selected text--bold">Breien, filmen, montage en koken.</p>
        </footer>
    </main>
</body>
</html>