<%- include('../layouts/head.ejs', { title: 'Digitale hobbies - HDate' }) %>
<body>
    <header class="header">
        <a href="/hobbies"><i class="fas fa-caret-left"></i></a>
        <h1 class="header__chat-heading">Kies je hobbies</h1>
        <button><i class="fas fa-search"></i></button>
    </header>
    <main class="container">
        <h2 class="header__heading header__heading--underline">Digitaal</h2>
        <ul class="hobbies-list">
            <li class="hobbies-list__item"><h3><img src="/images/coding.jpg" alt="">Programmeren</h3></li>
            <li class="hobbies-list__item"><h3><img src="/images/conferences.jpg" alt="">Conferenties</h3></li>
            <li class="hobbies-list__item"><h3><img src="/images/games.jpg" alt="">Games maken</h3></li>
            <li class="hobbies-list__item"><h3><img src="/images/open-source.jpg" alt="">Open source</h3></li>
            <li class="hobbies-list__item"><h3><img src="/images/blogging.jpg" alt="">Bloggen</h3></li>
            <li class="hobbies-list__item"><h3><img src="/images/youtube.png" alt="">YouTuben</h3></li>
            <li class="hobbies-list__item"><h3><img src="/images/article.jpg" alt="">Artikels schrijven</h3></li>
            <li class="hobbies-list__item"><h3><img src="/images/poetry.jpg" alt="">Gedichten schrijven</h3></li>
        </ul>
        <footer class="selected-hobbies-footer">
            <p class="selected-hobbies-footer__prefix">Geselecteerd:</p>
            <p class="selected-hobbies-footer__selected text--bold">Breien, filmen, montage en koken.</p>
        </footer>
    </main>
</body>
</html>