<%- include('../layouts/head.ejs', { title: 'Hobby aanvragen' }) %>

<header class="header">
    <h1 class="header__chat-heading">Hobby toevoegen</h1>
</header>
<main class="container">
    <form action="/hobbies/request" method="POST" enctype="multipart/form-data">
        <label class="form-group--image">
            Foto voor de hobby
            <input autocomplete="photo" type="file" name="image" accept="image/*" required>
        </label>
        <label class="form-group">
            Naam Hobby
            <input class="form-group__input" autocomplete="off" type="text" name="name" required>
        </label>
        <button class="btn btn--large btn--green" type="submit">Hobby aanvragen</button>
    </form>
</main>

<%- include('../layouts/tail.ejs') %>